@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Teko:400,700');

$family-teko: Teko, 'sans-serif';
$family-sans-serif: Teko, 'sans-serif';
$hero-body-padding: 1.5rem 1.5rem;

@import "../../../node_modules/bulma/bulma.sass";