.videoContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.videoContainer video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom-input {
    color: #333333 !important;
    background-color: #ebebeb !important;
    border: 0px solid black !important;
    border-radius: 4px !important;
    box-shadow: 0px 0px !important;
    text-shadow: 0px 0px !important;
}

.danger-input {
    border: 1px solid #B93038 !important;
}

.apex-button {
    background-color: #B93038 !important;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.apex-button:hover {
    box-shadow: inset 400px 0 0 0 #386C94;
}

.apex-link {
    color: #000000 !important;
}

.login-line {
    border: 1px solid #1d1d1d;
    opacity: 0.25;
    max-width: 75%;
    margin: auto;
    margin-bottom: 12px;
}

.google-button {
    font-family: "Product Sans", sans-serif;
    font-size: 0.8rem !important;
    background-color: #eeeeee !important;
    border: 0px solid #eeeeee !important;
    font-weight: bold;
    border-radius: 200px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.google-button:hover {
    font-weight: bold;
    color: #eeeeee !important;
    box-shadow: inset 400px 0 0 0 #386C94;
}

.custom-card {
    background-color: #eeeeee !important;
}

.recover-password-link {
    color: #333333 !important;
}

.apex-notification {
    background-color: #B93038 !important;
}

@media (max-width: 767px) {
    .videoContainer video {
        display: none;
    }
    .videoContainer {
        background: url('../assets/apex-backgroud-767.jpg');
        background-position: left top;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
    .google-button:hover {
        box-shadow: inset 400px 0 0 0 #eeeeee;
    }
    
}

@media (max-width: 320px) {
    .videoContainer video {
        display: none;
    }
    .videoContainer {
        background: url('../assets/apex-backgroud-320.jpg');
        background-position: left top;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
    .google-button:hover {
        box-shadow: inset 400px 0 0 0 #eeeeee;
    }
}